<title>交通学院下课聊</title>
<div class="wrapper outline-wrapper">
	<div class="c-chart_wra">
		<div class="c-chart_wraBox">
			<div class="c-chart_left left">
				<div class="c-chart_leftNavUl">
					<a href="#chart">下课聊&nbsp;></a>
					<a href="#chartCon" style="color:#6495ED">帖子详情</a>
				</div>
				<div class="c-chart_ZD_Box chart_Con">
					<script id="chart_Con" type="text/html">
						<div class="cb_chartCon_BOXss">
							<h3>标题:&nbsp;&nbsp;&nbsp;${forum_title}
								<a href="javascript:void(0);" id="c-chartCon_send">回复</a>
								<span class="c-chartCon_id">${forum_user.user_name}</span>
							</h3>
							<div style="width: 95%;font-size:16px;padding: 15px 15px 15px 30px;">
								<p>
									内容:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									{{html forum_content}}
								</p>
							</div>
							<div class="chartCon_Img" style="width: 95%;font-size:16px;padding: 15px 15px 15px 30px;">
								{{if forum_imageurl}}
								{{each forum_imageurl}}
								{{if $value}}
								<img src="http://admin.zhihuihuo.com.cn/${$value}"/>
								{{else}}
								<span></span>
								{{/if}}
								{{/each}}
								{{/if}}
							</div>
							<div class="c-chart_textBox">
							<textarea id="c-chart_textBox" onmousedown="s(event,this)">

							</textarea>
								<a href="javascript:;" class="c-sends">提交</a>
							</div>
						</div>
					</script>
				</div>
				<div class="c-chartCon_TZ_Box">
					<ul class="chart_forumcomment">
						<script id="chart_forumcomment" type="text/html">
                            <li class="chart_forumcommentLi">
								<div class="c-chart_Box">
                                    <div class="c-chart_PuserN">
                                        {{if !forumcomment_user.user_avatar}}
                                        <img src="dist/img/qq/1.gif"/>
                                        {{else}}
                                        <img src="http://admin.zhihuihuo.com.cn/${forumcomment_user.user_avatar}"/>
                                        {{/if}}
										<h4 id="forumUser">${forumcomment_user.user_name}</h4>
										<span>${forumcomment_user.user_level}级</span>
									</div>
                                    <div class="c-chart_PuserC right">
										<div class="c-chart_PuserCc">
											${forumcomment_content}
										</div>
										<div class="c-chartCon_time">
											<h6>
                                                <span id="DZ" forumcomment_id="${forumcomment_id}"><span id="DZD">${forumcomment_like}</span>&nbsp;点赞</span>
												<span>${forumcomment_floor}楼</span>
												<span>${forumcomment_createtime}</span>											
											</h6>
											<a href="javascript:void(0);" class="c-send">回复</a>
										</div>

										<div class="c-chart_textBox">
											<textarea id="c-chart_textBoxs" onmousedown="s(event,this)">
											
											</textarea>
											<a href="javascript:;" class="c-sendss" userid="${forumcomment_userid}" forumid="${forumcomment_id}">提交</a>
										</div>
										<div class="c-chart-secUser">
											<div class="c-chart_secUserBox">
												{{each forumcomment_replay}}
												<ul>
                                                    <li>
                                                        {{if !$value.forumcomment_user.user_avatar}}
                                                        <img src=" img/admin.png"/>
                                                        {{else}}
                                                        <img src="http://admin.zhihuihuo.com.cn/${$value.forumcomment_user.user_avatar}"/>
                                                    </li>
                                                    {{/if}}
													<li class="forumUser">${$value.forumcomment_user.user_name}:</li>
													<li>${$value.forumcomment_content}</li>
												</ul>
                                                <h6 class="floorH">
                                                    <span id="DZ" forumcomment_id="${$value.forumcomment_id}"><span
                                                            id="DZD">${$value.forumcomment_like}</span>&nbsp;点赞</span>
                                                    <span class="floorSpan"><!--${$value.forumcomment_floor}楼--></span>
													<span>${$value.forumcomment_createtime}</span>											
												</h6>
												{{/each}}
											</div>
										</div>
									</div>
								</div>
							</li>
						</script>
					</ul>
				</div>
			</div>
			<div class="c-chart_right right">
				<div class="c-chart_userImg">
                    <a href="#user"><img/></a>
                    <h4><a href="#id" id="chartUser">用户ID</a></h4>
                    <span id="userLevel"></span>
				</div>
				<div class="c-chart_userT">
					<ul>
						<li class="MyForumNum">
							<h5><a href="#user">我的帖子</a></h5>
							<script id="MyForumNum" type="text/html">
								<span>${data}</span>
							</script>
						</li>
						<li>
							<h5>回复我的</h5>
							<span>1</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src=" js/chart_Con/chart_Con.js"></script>
<script type="text/javascript">
    //
    function s(e, a) {
        if (e && e.preventDefault) {
            e.preventDefault();
        } else {
            window.event.returnValue = false;
        }
        a.focus();
    }

    //
	$('.c-chart_right').height($('.c-chart_left').height() + 400);

	$(".c-send").live('click', function() {
		$(this).toggle();
		$(this).parent().parent().find(".c-chart_textBox").toggleClass('c-chart_textBox_AC');
		$('.c-chart_PuserN').height($('.c-chart_PuserC').height());
		return false;
	});
	$("#c-chartCon_send").die().live('click', function() {
		$(this).toggle();
		$(this).parent().parent().find(".c-chart_textBox").toggleClass('c-chart_textBox_AC');
		$('.c-chart_PuserN').height($('.c-chart_PuserC').height());
		return false;
	});
	$(".c-sends").live('click', function() {
		$(".c-send").show();
		$(".c-chart_textBox").removeClass("c-chart_textBox_AC");
		$('.c-chart_PuserN').height($('.c-chart_PuserC').height());
		return false;
	});
</script>
<script>
    //获取预载动画
    var loadHTMLAjax = loadHTML();
	//获取登录后的用户信息
	var username = sessionStorage.getItem("username"); //用户名
	var uid = sessionStorage.getItem("uid"); //用户id
    var userimg = sessionStorage.getItem("userimg");
    var userLevel = sessionStorage.getItem("userLevel");
	
	var forum_id = sessionStorage.getItem("fid"); //帖子id
	if(username) {
		$("#chartUser").html(username);
        $("#userLevel").html(userLevel + "级");
        if (userimg == '' || !userimg) {
            $(".c-chart_userImg a img").attr("src", " img/admin.png");
        } else {
            $(".c-chart_userImg a img").attr("src", "http://admin.zhihuihuo.com.cn/" + userimg);
        }
	} else {
        alert("您还没登录!");
        $("#chartUser").html("您的名字");
        $("#userLevel").html("0级");
        $(".c-chart_userImg a img").attr("src", "img/admin.png");
	}
	//帖子详情获取
	function initMyPost(){
        $.ajax({
            type: "post",
            url: "http://admin.zhihuihuo.com.cn/api.php/BBS/ForumOne",
            dataType: 'JSON',
            data: {
                uid:uid,
                forumid: forum_id,
                pc: 'pc'
            },
			beforeSend:function(){
				$("body").append(loadHTMLAjax);
			},
            success: function(data) {
                $("#chart_Con").tmpl(data.data[0]).appendTo(".chart_Con");
                for(var i = 1; i < data.data.length; i++) {
                    $("#chart_forumcomment").tmpl(data.data[i]).appendTo(".chart_forumcomment");
                }
                var oDiv = $(".c-chart_secUserBox");
                oDiv.each(function () {
                    $(this).find("h6").each(function (i, k) {
                        var floor = i + 1;
                        $(this).find('.floorSpan').text(floor + '楼')
                    });
                });
            },
			complete:function(){
                loadHTMLAjax.remove();
			}
        });
	};
    initMyPost()
	//我的帖子的数量
	$.ajax({
		type: "post",
		url: "http://admin.zhihuihuo.com.cn/api.php/BBS/MyForumNum",
		data: {
			uid: uid
		},
		dataType: 'JSON',
		success: function(data) {
//			console.log(data);
			$("#MyForumNum").tmpl(data).appendTo(".MyForumNum");
		}
	});
	//点赞功能
	$("#DZ").die().live('click',function(){
	    if($(this).hasClass("DZ_active")){
			alert("已点赞!")
			return false;
		}
		var commentid = $(this).attr("forumcomment_id");
		$.ajax({
			type:"get",
			url:"http://admin.zhihuihuo.com.cn/api.php/BBS/CommentLike",
			data:{
				commentid:commentid,
				uid:uid
			},
			dataType:'JSON',
			success:function(data){
                alert(data.message);
			}
		});
        $(this).addClass("DZ_active");
        var figure = $(this).find('#DZD').text();
        var newFigure = parseInt(figure) + 1;
        $(this).find('#DZD').text(newFigure);
        if ($(this).hasClass("DZ_active") || state == 0) {
            return false
        }
					
	});
	//帖子评论功能
	$(".c-sends").live('click', function() {
		var content = $("#c-chart_textBox").val();
		
		$.ajax({
			type: "post",
			url: "http://admin.zhihuihuo.com.cn/api.php/BBS/ForumComment",
			dataType: 'JSON',
			data: {
				parent_id: forum_id,
				uid: uid,
				content: content
			},
			success: function(data) {
				//console.log(data);
				alert(data.message);
				$(".chart_forumcommentLi").remove();
				$(".cb_chartCon_BOXss").remove();
                initMyPost();
//                window.location.reload();
			}
		});
	});
	//评论回复功能
	$(".c-sendss").live('click',function(){
		var content = $(this).parents(".c-chart_textBox").find("#c-chart_textBoxs").val();
		var parentid = $(this).attr("forumid");
		var userid = $(this).attr("userid");
		$.ajax({
			type: "post",
			url: "http://admin.zhihuihuo.com.cn/api.php/BBS/ForumReply",
			dataType: 'JSON',
			data: {
				uid:uid,//回复者id
				content:content,//回复内容
				parentid:parentid,//评论id
				userid:userid//评论者id
			},
			success: function(data) {
				alert(data.message);
                $(".chart_forumcommentLi").remove();
                $(".c-chart_secUserBox").remove();
                $(".cb_chartCon_BOXss").remove();
                initMyPost();
			}
		});
	});
</script>
